@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-nav {
    @apply 
    hidden 
    lg:flex 
    fixed
    flex-col 
    top-[35%] 
    left-0;
}

.sidebar-floating-box {
    @apply 
    w-[160px] 
    h-[60px] 
    flex 
    justify-between 
    items-center 
    ml-[-100px] 
    hover:ml-[7px] 
    duration-300
    bg-gradient-to-tr 
    rounded-2xl;
}

.sidebar-text {
    @apply 
    flex
    justify-between 
    items-center 
    w-full 
    text-white;
}

/* Add this to your comps.css or App.css */
.mobile-menu {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: translateY(-100%);
    opacity: 0;
  }
  
  .mobile-menu.open {
    transform: translateY(0);
    opacity: 1;
  }