@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navigation Links */
.nav-link {
  color: white;
  display: inline-block;
  transition: color 0.3s, transform 0.3s;
  text-align: center;
}

.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: white;
  transition: width 0.3s;
}

.nav-link:hover {
  color: white !important;
  transform: scale(1.10);
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link-inv {
  color: #2c3e50;
  display: inline-block;
  transition: color 0.3s, transform 0.3s;
  text-align: center;
}

.nav-link-inv::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #2c3e50;
  transition: width 0.3s;
}

.nav-link-inv:hover {
  color: #2c3e50 !important;
  transform: scale(1.10);
}

.nav-link-inv:hover::after {
  width: 100%;
}

/* Text Styles */
.powerful-results {
  background: linear-gradient(to right, #F0E2B6 0%, #F0E2B6 50%, #BFC1C2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em;
  font-weight: bold;
}

.sweet {
  background: linear-gradient(to right, #F0E2B6 0%, gold 50%, #F0E2B6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
}

.disclaimer-text {
  font-size: 0.75rem;
  color: #6c757d;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.reach-out {
  background: linear-gradient(90deg, #002244 0%, #3a96d8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Backgrounds */
.home-background {
  background: linear-gradient(to bottom, #000026 0%, #2c3e50 50%, #f8f8ff 100%);
  min-height: 100vh;
  color: white;
  padding: 100px;
}

/* Buttons */
.contact-btn {
  color: white;
  border: 2px solid white;
  transition: all 0.3s ease;
}

.contact-btn:hover {
  transform: scale(1.05);
  background-image: linear-gradient(to right, #ffffff, #f0f0f0);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  color: black;
}

.contact-btn-inv {
  color: #2c3e50;
  border: 2px solid #2c3e50;
  transition: all 0.3s ease;
}

.contact-btn-inv:hover {
  transform: scale(1.05);
  background-image: linear-gradient(to right, #ffffff, #f0f0f0);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  color: #2c3e50;
  border: 2px solid #2c3e50;
  ;
}

/* Mobile Menu */
.mobile-menu {
  height: 0;
  opacity: 0;
  overflow: hidden;
  border-radius: 30px;
  transition: height 0.5s ease, opacity 0.5s ease;
}

.mobile-menu.open {
  height: 100%;
  opacity: 1;
}

/* Sidebar */
.sidebar-nav {
  @apply hidden md:flex fixed flex-col top-[35%] left-0;
}


.sidebar-floating-box {
  @apply w-[160px] h-[60px] flex justify-between items-center ml-[-100px] hover:ml-[7px] duration-300 bg-gradient-to-tr rounded-2xl;
}

.sidebar-text {
  @apply flex justify-between items-center w-full text-white;
}

/* Contact Form */
.contact-form-wrapper {
  background-color: #ffffff;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  border-radius: 20px;
  text-align: center;
  width: 90%;
  max-width: 500px;
  margin: 30px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 600px;
}

.contact-form-wrapper h2 {
  color: #304FFE;
  margin-bottom: 0.5rem;
}

.contact-form-wrapper p {
  color: #6a6a6a;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.contact-form {
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  color: #6b6b6b;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-form button {
  background: linear-gradient(135deg, #003366 0%, #4facfe 100%);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0.8rem 1.6rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact-form button:hover {
  transform: scale(1.1);
  background-image: linear-gradient(to right, #003366, #4facfe);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  color: whitesmoke;
}

/* Contact Info */
.contact-info-wrapper {
  background-color: transparent;
  text-align: left;
  width: 90%;
  max-width: auto;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  border-radius: 20px;
  min-height: 605px;
}

/* About Me */
.about-me-container {
  background: linear-gradient(to top left, #eaeaea 0%, #d1e7f4 100%);
  width: max;
}


.text-container {
  animation: slideUp 1s ease-in-out forwards;
}

@media (min-width: 768px) {
  .text-container {
    animation: slideInFromRight 1s ease-in-out forwards;
  }
}

.text-container h1 {
  background: linear-gradient(to right, #4facfe 0%, #87cefa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.image-container img {
  animation: slideInFromLeft 1s ease-in-out forwards;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out opacity 0.3s ease-in-out;
}


/* Keyframes for the text container sliding in from below */
@keyframes slideInFromRight {
  from {
    transform: translateX(-10%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from{
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Keyframes for the image sliding in from the left */
@keyframes slideInFromLeft {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Ensure initial hidden state */
.text-container,
.image-container img {
  opacity: 0;
}